.primary-btn {
  background-color: white;
  color: var(--gray-900);
  border: 1px solid var(--gray-400);
}

.primary-btn,
.secondary-btn {
  box-shadow: 0 1px 2px 0 hsla(220, 43%, 11%, 0.05);
}

.primary-btn:hover,
.secondary-btn:hover {
  background-color: var(--gray-300);
  border-color: transparent;
}

.primary-btn:focus,
.primary-btn:focus-visible {
  outline: 2px solid var(--blue-700);
}

.secondary-btn {
  background-color: var(--blue-700);
  border-color: transparent;
  color: white;
}

.secondary-btn:hover {
  color: var(--gray-900);
}

.icon-btn {
  display: grid;
  place-content: center;
  background-color: white;
  border: 1px solid var(--blue-100);
  width: 56px;
  height: 56px;
}

.icon-btn:hover {
  background-color: var(--gray-300);
}

.secondary-btn:focus,
.secondary-btn:focus-visible,
.icon-btn:focus,
.icon-btn:focus-visible {
  outline: 2px solid var(--gray-900);
}

.cta-buttons {
  display: flex;
  gap: 8px;
}

.star-rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.star-rating svg {
  margin-right: 4px;
}

.paragraph-1 {
  color: var(--gray-500);
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.paragraph-2 {
  color: var(--gray-900);
  font-weight: 500;
  font-size: 44px;
  line-height: 60px;
}

.content-link {
  text-decoration: underline;
  cursor: pointer;
}

.content-link:hover {
  color: var(--blue-700);
}
