:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gray-50: hsla(210, 24%, 98%, 1);
  --gray-100: hsla(220, 22%, 96%, 1);
  --gray-200: hsla(220, 17%, 93%, 1);
  --gray-300: hsla(216, 16%, 84%, 1);
  --gray-400: hsla(218, 15%, 65%, 1);
  --gray-500: hsla(220, 13%, 46%, 1);
  --gray-600: hsla(215, 18%, 34%, 1);
  --gray-700: hsla(217, 23%, 27%, 1);
  --gray-800: hsla(215, 32%, 17%, 1);
  --gray-900: hsla(221, 43%, 11%, 1);

  --blue-100: hsla(209, 100%, 91%, 1);
  --blue-700: hsla(218, 80%, 46%, 1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background: url("/background-pattern.svg") top no-repeat;
}

a {
  line-height: 0;
}

h1 {
  color: var(--gray-800);
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
}

h2 {
  color: var(--gray-800);
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -2%;
}

h3 {
  color: var(--blue-700);
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

h4 {
  color: var(--gray-900);
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

header {
  background-color: var(--gray-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1470px;
  min-width: 1024px;
  margin: 40px auto 0;
  border: 1px var(--gray-300) solid;
  border-radius: 100px;
  padding: 1em 2em;
}

header a {
  display: flex;
  align-items: center;
}

button {
  border-radius: 100px;
  padding: 0.8em 1.5em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s;
}
